* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-weight: inherit;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1;
    word-break: keep-all;
    color: #202124;
}

ul,
ol,
li {
    list-style: none;
}

i,
em,
address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}