$body-color: #333;
$primary-color: #008850;
$secondary-color : #00e085;
$background-color: #f8f8f8;
$light-color: #f9f9f9;
$line-color: #eeeeee;
$gray-color: #dddddd;

$default-size : 121.2rem;
$gutter-size : 2rem;
$margin-size : 1.6rem;